@import "../../styles/_index.scss";

.header {
  height: auto;
  width: $w-full;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;

  &-container {
    width: $w-full;
    display: flex;
    align-items: center;
  }

  &-logo {
    width: 50px;
    height: 50px;
    margin: 10px 20px;

    & > img {
      width: $w-full;
      height: $h-full;
      object-fit: contain;
    }
  }

  &-title {
    margin: 0;
    user-select: none;
  }

  &-back {
    width: 80px;
    height: 50px;
    cursor: pointer;

    & > img {
      width: $w-full;
      height: $h-full;
      object-fit: contain;
    }
  }
}
