@import "../../../styles/_index.scss";

.drink-list-container {
  height: $h-dvh-full;
  width: $w-full;
  box-sizing: border-box;
}

.drink-item {
  height: auto;
}

.cdk-virtual-scroll-content-wrapper {
  display: flex !important;
}
