@import "../../styles/_index.scss";

.root {
  width: $w-full;
  height: $h-dvh-full;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: $color-light;

  & > main {
    background-color: $color-gray;
  }
}
