@import "../../../styles/_index.scss";

.drink {
  text-decoration: none;

  &-card {
    max-width: 300px;
    height: 400px;
    height: $h-full;

    @include tablet {
      max-width: 500px;
    }

    @include mobile {
      max-width: 800px;
    }

    &-title {
      font-size: 1.2rem;
      color: $color-dark;
    }

    &-image {
      width: $w-full;
      object-fit: cover;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 20px;

      &-container {
        width: $w-full;
        height: auto;
      }
    }
  }
}
